*~
*.orig
*.rej
*.o
/DEADJOE
/core
/joe-*.tar.gz
/charmaps/klingon
/rc/*rc
/rc/jicerc.ru
/joe/util/checkwidths
/joe/util/uniproc
/joe/util/stringify
/joe/util/termidx
/joe/joe
/joe/autoconf.h
/joe/autoconf.h.in

.deps/
.dirstamp
*.su
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/configure~
/libtool
/joe/stamp-h1

__pycache__
*.pyc
/tests/testenv
